[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = https://github.com/sbabic/meta-swupdate
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-swupdate-boards"]
	path = meta-swupdate-boards
	url = https://github.com/sbabic/meta-swupdate-boards.git
